# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

temperaturaGLobal = pd.Series([-0.8, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
temperaturaGLobal

0   -0.80
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:

temperaturaGLobalComIndex = pd.Series([-0.8, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                                 index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
temperaturaGLobalComIndex

1900   -0.80
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

temperaturaGlobalComDict = pd.Series(dic_temperaturas)
temperaturaGlobalComDict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

numerosAleatorios = pd.DataFrame(arr)
numerosAleatorios

             0           1           2
0    87.091357  114.563042  102.635358
1    78.978053  128.584439  118.446521
2    94.759523   87.558983   79.517816
3    93.131818  111.718118  105.468614
4    92.043805   85.930341   95.668138
5   102.089557  102.577733   95.933507
6   101.426142   89.838022  101.809817
7   115.166307  112.276146   96.832154
8    90.969511  114.811922  123.178699
9   121.123623   90.163547   94.195036
10  113.496210  112.828061  102.014337
11   98.336520  112.479303  106.537331
12   98.140969  100.498061   79.480169
13   95.810388  105.761908  101.022378
14  100.844371   93.501223   98.081017
15   87.105845  104.734748   85.631293
16   85.510824   86.363221  101.672214
17   93.592466  102.851731  102.192736
18  109.628246   88.434479   84.188908
19  109.271022  101.272056   91.457791

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [19]:
numerosAleatoriosIndexColumns = pd.DataFrame(arr, 
                                      index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                                      columns=['x1', 'x2', 'x3'])
numerosAleatoriosIndexColumns

            x1          x2          x3
1    87.091357  114.563042  102.635358
2    78.978053  128.584439  118.446521
3    94.759523   87.558983   79.517816
4    93.131818  111.718118  105.468614
5    92.043805   85.930341   95.668138
6   102.089557  102.577733   95.933507
7   101.426142   89.838022  101.809817
8   115.166307  112.276146   96.832154
9    90.969511  114.811922  123.178699
10  121.123623   90.163547   94.195036
11  113.496210  112.828061  102.014337
12   98.336520  112.479303  106.537331
13   98.140969  100.498061   79.480169
14   95.810388  105.761908  101.022378
15  100.844371   93.501223   98.081017
16   87.105845  104.734748   85.631293
17   85.510824   86.363221  101.672214
18   93.592466  102.851731  102.192736
19  109.628246   88.434479   84.188908
20  109.271022  101.272056   91.457791

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
numerosAleatoriosMedia = pd.DataFrame({'x1':arr[:, 0],
                                       'x2':arr[:, 1],
                                       'x3':arr[:, 2],
                                       'media':(arr[:, 0] + arr[:, 1] + arr[:, 2])/3}, 
                                      index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
numerosAleatoriosMedia

            x1          x2          x3       media
1    87.091357  114.563042  102.635358  101.429919
2    78.978053  128.584439  118.446521  108.669671
3    94.759523   87.558983   79.517816   87.278774
4    93.131818  111.718118  105.468614  103.439517
5    92.043805   85.930341   95.668138   91.214094
6   102.089557  102.577733   95.933507  100.200266
7   101.426142   89.838022  101.809817   97.691327
8   115.166307  112.276146   96.832154  108.091536
9    90.969511  114.811922  123.178699  109.653377
10  121.123623   90.163547   94.195036  101.827402
11  113.496210  112.828061  102.014337  109.446203
12   98.336520  112.479303  106.537331  105.784385
13   98.140969  100.498061   79.480169   92.706400
14   95.810388  105.761908  101.022378  100.864892
15  100.844371   93.501223   98.081017   97.475537
16   87.105845  104.734748   85.631293   92.490629
17   85.510824   86.363221  101.672214   91.182086
18   93.592466  102.851731  102.192736   99.545644
19  109.628246   88.434479   84.188908   94.083878
20  109.271022  101.272056   91.457791  100.666956

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [36]:
numerosAleatoriosMedia['log_med'] = np.log(numerosAleatoriosMedia['media'])
numerosAleatoriosMedia

            x1          x2          x3       media   log_med
1    87.091357  114.563042  102.635358  101.429919  4.619368
2    78.978053  128.584439  118.446521  108.669671  4.688313
3    94.759523   87.558983   79.517816   87.278774  4.469107
4    93.131818  111.718118  105.468614  103.439517  4.638987
5    92.043805   85.930341   95.668138   91.214094  4.513209
6   102.089557  102.577733   95.933507  100.200266  4.607171
7   101.426142   89.838022  101.809817   97.691327  4.581813
8   115.166307  112.276146   96.832154  108.091536  4.682978
9    90.969511  114.811922  123.178699  109.653377  4.697324
10  121.123623   90.163547   94.195036  101.827402  4.623279
11  113.496210  112.828061  102.014337  109.446203  4.695433
12   98.336520  112.479303  106.537331  105.784385  4.661403
13   98.140969  100.498061   79.480169   92.706400  4.529438
14   95.810388  105.761908  101.022378  100.864892  4.613782
15  100.844371   93.501223   98.081017   97.475537  4.579601
16   87.105845  104.734748   85.631293   92.490629  4.527107
17   85.510824   86.363221  101.672214   91.182086  4.512858
18   93.592466  102.851731  102.192736   99.545644  4.600616
19  109.628246   88.434479   84.188908   94.083878  4.544187
20  109.271022  101.272056   91.457791  100.666956  4.611818